.view-expense-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.expense-detail {
    margin-bottom: 10px;
}

.expense-detail strong {
    font-weight: bold;
}

.buttons-container {
    margin-top: 20px;
}

.buttons-container button {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #4c4b42;
}
